* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #141414;
    --blue: #0000ff;
    --lightblue: #21a5e2;
    --whithe: #FFFFFF;
    --gray: #464646;
    --darkblue: #15435a;
    --darkgray: #1F1F1F;
}

body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

div {
    background-color: var(--darkgray);
    border-radius: 12px;
    text-align: center;
    width: 340px;
    padding: 40px;
}

img {
    width: 130px;
    margin-top: 15px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

h1 {
    color: var(--whithe);
    margin-bottom: 4px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

ul,li {
    list-style: none;
}

a {
    background-color: var(--gray);
    color: var(--whithe);
    text-decoration: none;
    margin-bottom: 16px;
    display: block;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
}

a:hover {
    color: var(--black);
    background-color: var(--lightblue);
    transition: 0.4s;
}

strong {
    color: var(--blue);
    font-size: 14px;
}

p {
    margin-block: 24px;
    color: var(--whithe);
    font-size: 14px;
}